<%= form_with scope: :visit, url: course_visits_path, local: true do |form| %>
  <p>
    <%= form.label :day_visited %><br>
    <%= form.date_field :day_visited %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
