<ol id="disc_golf_courses">
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course_path(course) %>
      <br>
      Location: <%= course.location %>
      <br>
      <%= link_to '<button type="button">Longest Hole on the course</button>'.html_safe, course_path(course), :class => "long_par" %>
      <br>
      <div class="longest_par">
        <ol>
        </ol>
      </div>
    </li>
    <br>
  <% end %>
</ol>
