<h2>All Disc Golf Courses</h2>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course_path(course) %>
      <br>
      Location: <%= course.location %>
    </li>
    <br>
  <% end %>
</ul>

<h3><%= link_to 'Create a new course!', new_course_path %></h3>

<h3><%= link_to 'Your Account page', edit_disc_golfer_registration_path %></h3>

